<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title) %></title>
    <%= render 'layouts/meta' %>
    <%= render 'layouts/style' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="main-wrapper">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= render 'shared/login_modal' %>
    <%= render 'shared/signup_modal' %>
    <%= render 'shared/product_modal' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
